 /* Key Orange rgb(242, 172, 67); */
 /* Key Yellow rgb(248, 209, 82),*/
 /* Key Dark Blue rgb(62, 128, 193) */
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Electrolux Sans', sans-serif;
  /* border: solid white 1px; */
}
body {
  height: 100vh;
  margin: 0;
  background-image: url(/dist/images/home.jpg);
  background-size: cover;
  scroll-behavior: smooth;
}

html {
  font-family: 'Electrolux Sans', sans-serif;
  height: 100%;
  color: white;
}

body.app-background {
  background-color: beige;
  background-image: none;
  color: black;
}

.container {
display: flex;
flex-direction: column; 
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nav-bar {
  margin-left: 15px;
}

.nav-button {
  background-color: rgb(248, 209, 82);
  width: 150px;
  height: 30px;
  font-size: large;
  margin: 10px;
}

.user-data {
  width: auto;
  border-radius: 3px;
  font-size: smaller;
  border: 0px;
  color: white;
  margin-top: 10px;
  margin-bottom: 10px;
}

.welcome-logo {
  font-size: 20px;
}

.icon {
  margin-right: 5px;
  height: 35px;
  width: 35px;
}

.logo-box {
  display: flex;
}

.logo-box.changed {
  background-color: rgb(62,128,193);
  color: white;
}

.logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 15px;
  padding-left: 15px;
  margin-bottom: 15px;
  width: 80%;
  height: auto;
}

.spacer {
  height: 20px;
  width: 50%;
}

button {
  font-family: inherit;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  transition: 200ms;
  border: 0px;
}

.login-area{
  margin-top: 7%;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: medium;
  justify-content: center;
  
}

.login-button {
  background-color: rgb(242, 172, 67);
  font-size: large;
  margin-top: 10px;
}

.customer-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.reservation-views {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bookings-area {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 600px;
  overflow-y: auto;
  width: 90%;
}

.user-booking {
  width: 200px;
  height: 200px;
}

.hidden {
  display: none;
}